body {
/*	max-width: 960px;
*/	margin: 0 auto;
/*	padding: 16px;
*/  font-family: 'Quattrocento', serif;
	color: black;

}

h1, h2, h3 {
	font-family: 'Cinzel', serif;
}

.homepage, .user-login-page, .admin-login, .admin-backend, .search-page {
	max-width: 960px;
	margin: 0 auto;
	padding: 16px;
}

.homepage-buttons a {
	color: white;
	text-decoration: none;
}

.bbt-gallery p {
	text-align: center;
}

.homepage {
	position: relative;
	top: 60px;
}

.page-footer {
	background-color: blue;
	color: white;
	width: 100%;
	position: fixed;
  left: 0;
  bottom: 0;

}

/*.order-cart {
	max-width: 960px;
	margin: 0 auto;
}*/